parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method Concrete\\Core\\Attribute\\Key\\UserKey\:\:updateAttributesDisplayOrder\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: ../concrete/controllers/backend/attributes.php

		-
			message: '#^Call to an undefined method Concrete\\Controller\\Dialog\\File\\Bulk\\Properties\:\:setFiles\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/dialog/file/upload_complete.php

		-
			message: '#^Class Concrete\\Controller\\Dialog\\File\\Bulk\\Properties constructor invoked with 0 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../concrete/controllers/dialog/file/upload_complete.php

		-
			message: '#^Class Concrete\\Controller\\Dialog\\File\\Properties constructor invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: ../concrete/controllers/dialog/file/upload_complete.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Permission\\Checker\:\:canEditFileSetPermissions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/dialog/permissions/file_set.php

		-
			message: '#^Parameter \#1 \$object of class Concrete\\Core\\Permission\\Checker constructor expects Concrete\\Core\\Permission\\ObjectInterface\|false\|null, Concrete\\Core\\File\\Set\\Set given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/controllers/dialog/permissions/file_set.php

		-
			message: '#^Call to an undefined method Concrete\\Controller\\Dialog\\Search\\AdvancedSearch\:\:getCurrentSearchBaseURL\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/dialog/search/advanced_search.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Job\\JobQueue\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: ../concrete/controllers/frontend/jobs.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Job\\JobQueue\:\:receive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/frontend/jobs.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Job\\QueueableJob\:\:executeBatch\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/frontend/jobs.php

		-
			message: '#^Call to an undefined method Concrete\\Controller\\Dialog\\Search\\AdvancedSearch\:\:setEntityID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/search/express.php

		-
			message: '#^Call to an undefined method Concrete\\Controller\\Dialog\\Search\\AdvancedSearch\:\:getBasicSearchBaseURL\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/search/standard.php

		-
			message: '#^Call to an undefined method Concrete\\Controller\\Dialog\\Search\\AdvancedSearch\:\:getCurrentSearchBaseURL\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/controllers/search/standard.php

		-
			message: '#^Constant ONLINE_NOW_SRC_OFF not found\.$#'
			identifier: constant.notFound
			count: 1
			path: ../concrete/src/Application/Service/User.php

		-
			message: '#^Constant ONLINE_NOW_SRC_ON not found\.$#'
			identifier: constant.notFound
			count: 1
			path: ../concrete/src/Application/Service/User.php

		-
			message: '#^Parameter \#1 \$func of method Doctrine\\DBAL\\Connection\:\:transactional\(\) expects Closure\(Doctrine\\DBAL\\Connection\)\: void, Closure\(Concrete\\Core\\Database\\Connection\\Connection\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/Authentication/Type/OAuth/BindingService.php

		-
			message: '#^Offset ''null'' on \*NEVER\* in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: ../concrete/src/Block/BlockController.php

		-
			message: '#^Parameter \#2 \$opts of class RedisArray constructor expects array\<string, string\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/Cache/Driver/RedisStashDriver.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Config\\ConfigStore\:\:rowToConfigValue\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: ../concrete/src/Config/ConfigStore.php

		-
			message: '#^Parameter \#2 \$value of class HtmlObject\\Element constructor expects string\|null, array\<int, HtmlObject\\Element\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/File/Image/Thumbnail/ThumbnailPlaceholderService.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Routing\\Router\:\:getAction\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/src/Http/RouteActionDispatcher.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Mail\\Importer\\MailImporter\:\:process\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/src/Mail/Command/ProcessEmailCommandHandler.php

		-
			message: '#^Access to property \$contentType on an unknown class Laminas\\Mail\\Storage\\Message\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Access to property \$from on an unknown class Laminas\\Mail\\Storage\\Message\.$#'
			identifier: class.notFound
			count: 6
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Access to property \$subject on an unknown class Laminas\\Mail\\Storage\\Message\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Call to method getContent\(\) on an unknown class Laminas\\Mail\\Storage\\Message\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Caught class Laminas\\Mail\\Exception not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Parameter \#1 \$iterator of class RecursiveIteratorIterator constructor expects T of IteratorAggregate\|RecursiveIterator, Laminas\\Mail\\Storage\\Message given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Parameter \$msg of method Concrete\\Core\\Mail\\Importer\\MailImportedMessage\:\:__construct\(\) has invalid type Laminas\\Mail\\Storage\\Message\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Static call to instance method Concrete\\Core\\Mail\\Importer\\MailImporter\:\:getMessageBodyHashRegularExpression\(\)\.$#'
			identifier: method.staticCall
			count: 2
			path: ../concrete/src/Mail/Importer/MailImportedMessage.php

		-
			message: '#^Call to method getUniqueId\(\) on an unknown class Laminas\\Mail\\Storage\\Imap\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Call to method getUniqueId\(\) on an unknown class Laminas\\Mail\\Storage\\Pop3\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Instantiated class Laminas\\Mail\\Storage\\Imap not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Instantiated class Laminas\\Mail\\Storage\\Pop3 not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Iterating over an object of an unknown class Laminas\\Mail\\Storage\\Imap\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Iterating over an object of an unknown class Laminas\\Mail\\Storage\\Pop3\.$#'
			identifier: class.notFound
			count: 1
			path: ../concrete/src/Mail/Importer/MailImporter.php

		-
			message: '#^Parameter \#1 \$child of method HtmlObject\\Traits\\TreeObject\:\:appendChild\(\) expects HtmlObject\\Element, HtmlObject\\Link given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/Notification/View/StandardListView.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: ../concrete/src/Page/Container/ContainerExporter.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Page\\Page\:\:getBlockID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/src/Page/Stack/Pile/Pile.php

		-
			message: '#^Constant PILE_MODULES_INSTALLED not found\.$#'
			identifier: constant.notFound
			count: 1
			path: ../concrete/src/Page/Stack/Pile/PileContent.php

		-
			message: '#^Parameter \#2 \$opts of class RedisArray constructor expects array\<string, string\>, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../concrete/src/Session/SessionFactory.php

		-
			message: '#^Call to an undefined static method Concrete\\Core\\Tree\\Node\\Node\:\:getClassByType\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: ../concrete/src/Tree/Node/Node.php

		-
			message: '#^Call to an undefined method Concrete\\Core\\Routing\\Router\:\:getGenerator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: ../concrete/src/Url/Resolver/RouterUrlResolver.php
